
.icon-search:before { content: '\e800'; } /* '' */
.icon-camera-outline:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-compass:before { content: '\e803'; } /* '' */
.icon-lemon:before { content: '\e804'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */